{#=====================================================
  Expense_List
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
    <h2>List of Expenses</h2>
        
        <table class="expense-list"> 

            <thead>
                    <tr>

                            <th>ID</th>
                            <th>Categories</th>
                            <th>Amount</th>
                            <th>Spend</th>
                            <th>Date</th>
                    </tr>
            </thead>

            <tbody>

                    {% for expense in expenses %} 

                    <tr>

                        <td>{{ expense.id }}</td>  

                        <td>{{ expense.category_id }}</td>  
                        
                        <td>{{ expense.amount }}</td>  

                        <td>{{ expense.spend }}</td>  

                        <td>{{ expense.date }}</td>  

                        <td>
                        <a href="/expense/{{ expense.id }}/delete">Delete</a>
                        </td>

                    </tr> 

                {% endfor %}
            </tbody>
        </table>
    <div>    
        <a href="/expenses/new" class="add-ex">Add Expenses</a> 
    </div>   
{% endblock %}

