{#=====================================================
  Expense_List
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
    <h2>List of Expenses</h2>

    <a href="/expenses/new">Add Expenses</a>
        
        <table class="expense-list"> 

            <thead>
                <tr>

                        <th>ID</th>
                        <th>Catergory</th>
                        <th>Amount</th>
                        <th>Spend</th>
                        <th>Date</th>
                </tr>
            </thead>

        <tbody>
                {% for expense in expenses %} 

                <tr>

                    <td>{{ expense.id }}</td>  

                    <td>{{ expense.category_id }}</td>  
                    
                    <td>{{ expense.amount }}</td>  

                    <td>{{ expense.spend }}</td>  

                    <td>{{ expense.date }}</td>  

                    <p><a href="/expense/{{ expense.id }}/delete">Delete</a></p>
                </tr> 
                {% else %}

                        <p> Start Tracking Your Expense! </p>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}

