{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Tracker Menu</h2>

    <section id="savings">

        {% for saving in saving %}

            <div class="saving {{ 'pinned' if saving.pinned }}">

                <header>
                    <h3>{{ saving.title }}</h3>
                    {{ "📌" if saving.pinned }}
                </header>

                <p>{{ saving.body | paragraphs }}</p>

                <footer>
                    Created on {{ saving.created | local | format }}
                </footer>

            </div>
        {% else %}

            <p>You Haven't Start Yet!</p>

        {% endfor %}

    </section>

{% endblock %}

